<div class="search">
   <input class="search__input" [(ngModel)]="searchInput" (keydown.enter)="onSearchPokemon(searchInput)" placeholder="Search for Pokémon" >       
    <div>
    <select class="sort__select" [(ngModel)]="selectedType">
        <option value="all">All Types</option>
        <option *ngFor="let type of types" [value]="type">{{ type }}</option>
    </select>
    </div>
</div>


<div class="card-grid">
    <div *ngFor="let pokemon of pokemons| filterPokemon:selectedType:searchInput">
        <button class="card" [class.selected]="pokemon === selectedPokemon" type="button" (click)="openPopup(pokemon)">
        <div class="card__info">
            <h2>{{pokemon.name }}</h2>
            <span>{{ pokemon.id }}</span>
            <p class="img">
                <img [src]="pokemon.image" alt="{{ pokemon.name }}">
            </p>
        </div>
        </button>
    </div>   
</div>

    