<div class="search">
    <div>
        <div ><input class="search__input" [(ngModel)]="searchInput" (keydown.enter)="onSearchPokemon(searchInput)" placeholder="Search for Pokémon" ></div>
    </div>
    <div>
        <select class="sort__select" [(ngModel)]="selectedType">
            <option value="all">All Types</option>
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
    </div>
</div>


<div class="card-grid">
    <div *ngFor="let pokemon of pokemons| filterPokemon:selectedType:searchInput">
        <button class="card" [class.selected]="pokemon === selectedPokemon" type="button" (click)="openPopup(pokemon)">
        <div class="card__info">
            <h2>{{pokemon.name }}</h2>
            <span>{{ pokemon.id }}</span>
            <div class="card__img">
                <img [src]="pokemon.image" alt="{{ pokemon.name }}">
            </div>
        </div>
        </button>
    </div>   
</div>

    


