
  <div class="pokemon-popup" [ngStyle]="{'background-color': getTypeColor(pokemonToPresent?.types?.join(', '))}">
    <img class="pokemon-image" [src]="pokemonToPresent?.image" alt="{{ pokemonToPresent?.name }}" >
    <div class="pokemon-title">{{ pokemonToPresent?.name }}</div>
    <div class="pokemon-info">
      <div class="id">ID: {{ pokemonToPresent?.id }}</div>
      <div class="height">Height: {{ pokemonToPresent?.height }}</div>
      <div class="weight">Weight: {{ pokemonToPresent?.weight }}</div>
      <div class="types">Types: {{ pokemonToPresent?.types?.join(', ') }}</div>
      <div class="abolities">Abilities: {{ pokemonToPresent?.abilities?.join(', ') }}</div>
    </div>
  </div>

  