<div class="pokemon-popup">
    <div class="pokemon-title">
      <h2>{{ pokemonToPresent?.name }}</h2>
      <img [src]="pokemonToPresent?.image" alt="{{ pokemonToPresent?.name }}" class="pokemon-image">
    </div>
    <div class="pokemon-info">
      <p>ID: {{ pokemonToPresent?.id }}</p>
      <p>Height: {{ pokemonToPresent?.height }}</p>
      <p>Weight: {{ pokemonToPresent?.weight }}</p>
      <p>Types: {{ pokemonToPresent?.types?.join(', ') }}</p>
      <p>Abilities: {{ pokemonToPresent?.abilities?.join(', ') }}</p>
    </div>
  </div>
