@use '../../style/variables' as *;
@use '../../style/mixin' as *;

.header {
  color: $ground;
  background-color: $fire-light;
  background-image: url("https://assets.website-files.com/62c1627eee0defc3a1256898/62cf234679dbabe18fa50a1e_pokeapi_256%201.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100px;
  margin: 0 auto;
  text-shadow: -2px 0 $water, 0 2px $water, 2px 0 $water;
  cursor: pointer;
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  font-family: $main-font;
}

.btn[type="button"], .box button[type="button"], a.button {
  @include btn-type-button;
}
